@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('PlusJakartaSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Bevan';
    src: url('Bevan-Regular.ttf');
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-weight: 200;
}

img {
    width: 60vw;
    max-width: 700px;
    margin: 45px 0;
}

.faq-block__heading {
    font-family: 'Bevan';
    font-weight: 800;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.content-container {
    padding: 0 20px;

    @media (min-width: 768px) {
        padding: 0 120px;
    }
}

.faq-block {
    &:nth-child(1) {
        margin: 0 0 40px 0;
        
        .faq-block__heading {
            margin-top: 0;
        } 
    }
    margin: 40px 0;
}